@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* 
html, body { position: relative; min-height: 100dvh; }

html, body {
  height: 100%;
} */

.full-height {
  height: 100vh;
  height: 100dvh;
}

.full-viewport-height {
  height: 100vh;
}

@supports (height: 100dvh) {
  .full-viewport-height {
    height: 100dvh;
  }
}

 /* @supports (height: 100dvh) {
    :root {
        --viewport-height: 100dvh;
    }
    .h-screen {
        height: 100dvh;
    }
    .max-h-screen {
        max-height: 100dvh;
    }
}
@supports (-webkit-touch-callout: none) and not (height: 100dvh) {
    :root {
        --viewport-height: -webkit-fill-available;
    }
    .h-screen {
        height: -webkit-fill-available;
    }
    .max-h-screen {
        max-height: -webkit-fill-available;
    }
}
@supports (height: -webkit-fill-available) and not (height: 100dvh) {
    :root {
        --viewport-height: -webkit-fill-available;
    }
    .h-screen {
        height: -webkit-fill-available;
    }
    .max-h-screen {
        max-height: -webkit-fill-available;
    }
} */

.react-international-phone-country-selector-dropdown {
  animation: slideDownAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.user-list-item:hover .online-status {
  border-color: #d1d5db;
}
.dark .user-list-item:hover .online-status {
  border-color: #374151;
}
.selected-user-list-item .online-status {
  border-color: #3b82f6;
}
.selected-user-list-item:hover .online-status {
  border-color: #2563eb;
}

.react-international-phone-input {
  padding-left: 12px !important;
}

.react-international-phone-country-selector-button__button-content {
  padding: 0 10px !important;
}

.recharts-surface {
  overflow: visible !important;
}

.recharts-cartesian-axis-tick-value tspan:not(:first-child) {
  display: none !important;
  visibility: hidden !important;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: backwards;
}

.animate-order-1 {
  animation-delay: 200ms;
}

.animate-order-2 {
  animation-delay: 400ms;
}

.animate-order-3 {
  animation-delay: 600ms;
}

.animate-order-4 {
  animation-delay: 800ms;
}

.animate-order-5 {
  animation-delay: 1s;
}

.animate-order-6 {
  animation-delay: 1.2s;
}

.animate-order-7 {
  animation-delay: 1.4s;
}

.animate-order-8 {
  animation-delay: 1.6s;
}

.animate-order-9 {
  animation-delay: 1.8s;
}

.animate-order-10 {
  animation-delay: 2s;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
